html {
  height: 100%;
  width: 100%;
  font-family: $main-font;
  font-weight: bold;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mdc-tab-bar {
  position: fixed;
  top: 0;
  z-index:1;
  background: white;
}

article {
  display: flex;
  font-size: 20px;
  h2 {
    font-size: 40px;

  }
  h3 {
    font-size: 30px;

  }
  pre {
    font-family: $main-font;
  }

}


#content {
  margin-top: 48px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
