html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: $tablet-width) {
  //   #content {
  //     width: 100%;
  // }
}
@media all and (min-width: $desktop-width) {
  // #content {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
}
