@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "./tabColors";
@import "./colors";

$tablet-width: 768px;
$desktop-width: 800px;

body,
html {

  .hero-container {
    width: 100vw;
    height: 80vh;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .hero-text-div {
    background-color: rgba(0,0,0,0);
    position: absolute;
    height: 150px;
    width: 600px;
    left: 10%;
    bottom: 35%;
    font-size: 25px;
    font-family: "Fjalla One",Arial,sans-serif;

  }

  .hero-text {
    font-family: Helvetica, Verdana;
    color: #FFF;
    z-index: 200;
  }
}


@media all and (max-width: $tablet-width) {
    .hero-container {
      width: 100%;

    }
    .hero-text {
      width: 80vw;

    }
}
