
.contact-article {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

  .article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-left: 1%;
  }
}
// 
// .contact-form {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 200px;
//   div {
//     width: 50%;
//   }
// }


@media only screen and (max-width: 980px) {
  .contact-article {
    flex-direction: column;
  }

}
@media only screen and (max-width: 560px) {
  .contact-article {
    .article-card {
      flex-direction: column;
      align-items: center;
    }
    p {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}
