.manifesto-article {
  flex-direction: column;
  font-size: 20px;

  p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;

  }

  ul {
    padding: 1% 5% 2% 6%;
  }

  ul li::before {
    content: "-";
    color: $blue;
    font-weight: bolder;
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
  }
}
