@import '../vars/colors.scss';

// Dropdown menu styling-----------------
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  top: 60%;
  left: 550px;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: white;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  background-color: white;
  cursor: pointer;
}
option {
  background-color: white;
  text-decoration-color: $purple;
  z-index: 3;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: $purple;
}
// end of dropdown menu style---------------------------------------


// Menus article, holder, and items--------------------------------
.menus-article {
  flex-direction: column;
  width: 100%;
  h2 {
    color: $purple;
  }
}


.menu-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  p {
    display: flex;
    width: 70%;
    justify-content: center;
  }
}
hr {
  width: 100%;
  height: 1px;
  background-color: $purple;
  border-color: $purple;
}
.menu-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
}
.menu-item-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1%;
  p {
    justify-content: flex-start;
  }
}
.menu-item-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lunch-menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.lunch-item-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



// Media queries (mostly to center dropdown menu)
@media only screen and (max-width: 1395px) {
  .select {
    left: 38%;
  }
}
@media only screen and (max-width: 1100px) {
  .select {
    left: 32%;
  }
}
@media only screen and (max-width: 800px) {
  .select {
    left: 26%;
  }
}
@media only screen and (max-width: 630px) {
  .select {
    left: 20%;
  }
}
@media only screen and (max-width: 480px) {
  .select {
    left: 14%;
  }
}
@media only screen and (max-width: 400px) {
  .select {
    left: 5%;
  }
}
